#box {
    
}
#form_container {

}

button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}
#submit{
    background-color: #6CBA87;
}
#submit:hover{
    background-color: #34BA63;
}

#reset:hover{
    background-color: #DEEFFA;
}
input {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 6px 10px;
}
input:focus{
    border: 2px solid #797BBD;
}
select {
  border: 2px solid #ccc;
 border-radius: 4px;
  padding: 6px 10px;
}
select:focus{
border: 2px solid #797BBD;
}
a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}