a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}


/* _______________________________ all headers start _________________________________ */

.header {
    /*background-color: #C9F0D9;*/

}

.top_nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.searchbar {
    padding-right: 30px;
    padding-left: 30px;

}

#searchform {
    display: flex;
    flex-direction: row;
}

.searchbar button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;

}

.searchbar input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.searchbar input:focus {
    border: 2px solid #797BBD;
}

.top_nav_links {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
}

.top_nav_links:hover {}

#img_and_title_container {
    display: flex;
    justify-content: center;


}

#main_title {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 40px;
}

.main_navigation {
    display: flex;
    justify-content: center;
}

.main_nav_links {
    margin-top: 40px;
    margin-bottom: 20px;
}

#nav_link1 {}

#nav_link2 {
    padding-left: 30px;
    padding-right: 30px;
}

#nav_link3 {}

.main_navigation a {
    text-decoration: none;
    font-size: 24px;
}



/* _______________________________ big header start _________________________________ */

/*
.hero_image_container_l {
    align-content: center;
    display: grid;
   
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.hero_image_container_l img {
    max-width: 30vw;
}

#hero1 {
    grid-area: 1 / 3 / 3 / 5;
    height: 100%;
}

#hero2 {
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
}

#hero3 { 
    grid-area: 1 / 1 / 2 / 2;
    height: 100%;
}

#hero4 {

    grid-area: 2 / 1 / 3 / 2;

}
*/
.hero_image_container_l {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hero_image_container_l p {
    z-index: 10000;
    font-size: 100px;
    text-align: center;
    position: absolute;
    width: 20%;
    padding-top: 100px;
    color: white;

}

.slider {
    overflow: hidden;
    height: 600px;
}

.slider figure div {
    width: 20%;
    float: left;
}

.slider figure img {
    width: 100%;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 50s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }
}


/* _______________________________big header end _________________________________ */


/* _______________________________ regular header start _________________________________ */



.hero_image_container_m {
    display: flex;
    justify-content: center;
}

.hero_image_container_m img {
    max-width: 100%;
    /*    max-width: 30vw;*/
}

#hero {}

.
/* _______________________________regular header end _________________________________ */



/* _______________________________ small header start _________________________________ */


/* _______________________________small header end _________________________________ */



/* _______________________________ footer start _________________________________ */
footer {
    background-color: cadetblue;
    height: 100px;
}

/* _______________________________ footer end _________________________________ */



#alert {
    background-color: #F7F86B;
    min-height: 30px;
    max-width: 400px;
    margin: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        margin:0;
        padding: 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
         margin:0;
        padding: 0;
        visibility:hidden;
    }
}
