
/* _______________________________ all headers start _________________________________ */

.header {
    /*background-color: #C9F0D9;*/

}

.top_nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 10px;
}

.searchbar {
    padding-right: 30px;
    padding-left: 30px;

}

#searchform {
    display: flex;
    flex-direction: row;
    
}

.searchbar button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;

}

.searchbar input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

.searchbar input:focus {
    border: 2px solid #797BBD;
}

.top_nav_links {
    padding-right: 30px;
    padding-left: 30px;
    font-size: 18px;
}

.top_nav_links a {
    margin-left: 20px;
}
.top_nav_links a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

.top_nav_links a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}


#img_and_title_container {
    display: flex;
    justify-content: center;


}

#main_title {
    display: flex;
    justify-content: center;
    width: 90%;
     margin-right: 40px;
    position: relative;
    left: -50px;
}

#main_title h1 {
    font-size: 80px;
}

.main_navigation {
    display: flex;
    justify-content: center;
}

.main_nav_links {
    margin-top: 40px;
    margin-bottom: 20px;
}

#nav_link1 {}

#nav_link2 {
    padding-left: 30px;
    padding-right: 30px;
}

#nav_link3 {}

.main_navigation a {
    text-decoration: none;
    font-size: 30px;
}



/* _______________________________ big header start _________________________________ */


.hero_image_container_l {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.hero_image_container_l p {
    z-index: 10000;
    font-size: 100px;
    text-align: center;
    position: absolute;
    width: 20%;
    padding-top: 100px;
    color: white;

}

.slider {
    overflow: hidden;
    height: 400px;
}

.slider figure div {
    width: 20%;
    float: left;
}

.slider figure img {
    width: 100%;
    float: left;
}

.slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 50s slidy infinite;
}

@keyframes slidy {
    0% {
        left: 0%;
    }

    10% {
        left: 0%;
    }

    12% {
        left: -100%;
    }

    22% {
        left: -100%;
    }

    24% {
        left: -200%;
    }

    34% {
        left: -200%;
    }

    36% {
        left: -300%;
    }

    46% {
        left: -300%;
    }

    48% {
        left: -400%;
    }

    58% {
        left: -400%;
    }

    60% {
        left: -300%;
    }

    70% {
        left: -300%;
    }

    72% {
        left: -200%;
    }

    82% {
        left: -200%;
    }

    84% {
        left: -100%;
    }

    94% {
        left: -100%;
    }

    96% {
        left: 0%;
    }
}


/* _______________________________big header end _________________________________ */


/* _______________________________ regular header start _________________________________ */



.hero_image_container_m {
    display: flex;
    justify-content: center;
}

.hero_image_container_m img {
    max-width: 100%;
    /*    max-width: 30vw;*/
}

#hero {}

.
/* _______________________________regular header end _________________________________ */



/* _______________________________ small header start _________________________________ */


/* _______________________________small header end _________________________________ */



/* _______________________________ footer start _________________________________ */
footer {
  margin-top: 40px;
}  
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height:40vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed{
	background: #666;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}


/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/* _______________________________ footer end _________________________________ */



#alert {
    background-color: #F7F86B;
    min-height: 30px;
    max-width: 400px;
    margin: 30px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    font-size: 16px;
    
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        margin:0;
        padding: 0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
         margin:0;
        padding: 0;
        visibility:hidden;
    }
}

#logoutForm {
    display: none;
}

#logo img{
    width: 200px;
}

#logo_and_title_container {
    display: flex;
           flex-direction: row;
}

#logo {
    margin-left: 30px;
    width: 10%;
}
