body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(#C9F0D9, white);
}

/* _______________________________ header start _________________________________ */

/* _______________________________ header end _________________________________ */

/* _______________________________ main start _________________________________ */
.main_container {
    padding: 30px;
}
a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}
.instructions {
    margin: 20px;
    padding: 30px;
    border: 1px solid gray;
    background: white;
}

.instructions h2 {
}

.instructions p {}

.instructions p::first-letter {
    font-size: 30px;
    font-weight: bold;
    color: brown;

}

.instructions img {}

.column_layout {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    margin: 10px;
    border: 1px solid gray;
    padding: 30px;
    box-shadow: 5px 10px #C9F0D9;
    background: white;

}

.column h2 {
}

.column_list {
    display: flex;
    flex-direction: column;
}

.list_item {
    flex: 1;
    margin-bottom: 5px;
    min-width: 250px;
}


.column img {
    max-height: 50px;
    margin-right: 10px;
    float: left;
}

.column p {
    font-size: 16px;
}

.column a {
    color: #083823;
    font-weight: bold;
    float: right;
    text-decoration: none;
}

.column a:hover {
    color: 103B1F;
}

/* _______________________________ main end _________________________________ */

/* _______________________________ footer start _________________________________ */
/*
footer {
    background-color: cadetblue;
    height: 100px;
}
*/

/* _______________________________ footer end _________________________________ */
