body{
    background-color: #999cf0;
}
#main_container {
    /*
    display: flex;
    flex-direction: row;
*/
    margin: auto;
    width: 60%;
    background-color: #f0d873;
}
a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}
#content {
    background-color: #AEF8F2;
    padding: 60px;
    display: flex;
    flex-direction: row;
}

#form_container {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

#time {
    margin-bottom: 30px;
}

#place {
    margin-bottom: 30px;

}

#button {
    justify-self: center;
}

#hour_list {
    margin-right: 160px;
}

.hour_list_element {}

.hour_list_element p {}

button {
    height: 30px;
    width: 130px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

a {
    margin-right: 30px;
}

label {}

#submit {
    background-color: #6CBA87;
}

#submit:hover {
    background-color: #34BA63;
}

#reset:hover {
    background-color: #DEEFFA;
}

input {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

input:focus {
    border: 2px solid #797BBD;
}

select {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
}

select:focus {
    border: 2px solid #797BBD;
}

#title {
    padding: 10px 20px 10px 30px;
}
