body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(#C9F0D9, white);
}

/* _______________________________ header start _________________________________ */

/* _______________________________ header end _________________________________ */

/* _______________________________ main start _________________________________ */

.containerz {}

a:link,
a:visited {
    text-decoration: none;
    color: #1F6E3A;
}

a:hover,
a:active {
    text-decoration: none;
    color: #103B1F;
}

#main_box_top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 60px;

}

#info_and_pictures {
    /*    flex: 3;*/
    margin-right: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
}

#main_content_column {
    flex: 3;
    margin-right: 40px;
    margin-left: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

#basic_info {}

#name {}

#thumbnail {}

#thumbnail_img {
    width: 100px;
}

#address {}

.box {
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
}

#gallery {
    width: 80vw;
    /*    height: 20vw;*/
    max-height: 400px;
    margin-bottom: 30;
    padding: 0;
    display: flex;
    flex-direction: row;
/*    overflow: hidden;*/
}

.gallery_bear {
    width: 20%;
    height: auto;

}

.gallery_bear img {
    /*max-height: inherit;*/
    width: 100%;
    height: auto;
     max-height: 400px;
     margin-bottom: 30;
}

#description {
    padding: 30px;
    max-width: 1200px;
}

#extra_info {
    display: flex;
    flex-direction: row;
}

#additional_content_column {
    min-width: 300px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    margin-left: 30px;
}

#contact {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
}

#call_to_action {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    margin-bottom: 30px;

}

#call_to_action a {}

#rating_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    padding: 60px;
}

#rating_box {
  width: 60%;
    margin-right: 30px;
    margin-left: 30px;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-right: 30px;

}



h3 {}

#star_rating_aggregated {
    border: 1px solid gray;
}

#your_rating {}

#star_rating_vote {

    display: flex;
    flex-direction: column;
}

#user_rating {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    min-height: 300px;
    margin-right: 20px;
    margin-left: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;

}

#place_rating {
    display: flex;
    justify-content: flex-end;
}



textarea {
    resize: none;
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

textarea:focus {
    border: 2px solid #797BBD;
}

.buttons {
    display: inline-flex;
    flex-direction: row;
}

button {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

#submit {
    background-color: #6CBA87;
}

#submit:hover {
    background-color: #34BA63;
}

#reset:hover {
    background-color: #DEEFFA;
}


.gallery {
    height: 350px;
    width: auto;
}

.display_rating {
    padding-right: 10px;
}
