body{
    
}
/* _______________________________ header start _________________________________ */
header {}

/* _______________________________ header end _________________________________ */

/* _______________________________ main start _________________________________ */

.container {
    
}

#main_container {
   display: flex;
    flex-wrap: wrap;
}

#main_content_column {
    flex: 3;
    margin-right: 40px;
    margin-left: 30px;
}

h1 {
    font-size: 40px;
}

h2 {
    
}

#basic_info {
    
}

#name {
    
}

#thumbnail {
    
}
#thumbnail_img {
    width: 100px;
}

#address {
    
}
.box {
    padding: 20 px;
    border: 1px solid gray;
}

#gallery {
max-width: 30vw;
 display: flex;
flex-direction: row;
}
#gallery img {
width: 200px;
    
}

#description {
    padding: 30px;
}


#additional_content_column {
    flex:1;
    margin-right: 30px;
    margin-left: 30px;
}

#contact {
    margin-top: 200px;
    margin-bottom: 50px;
    padding-bottom: 20px;
        padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
}

#call_to_action {
   display: flex;
   flex-direction: column;
    padding-bottom: 20px;
        padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
    
}
#call_to_action a {

}

#rating_container {
    display: flex;
    flex-wrap: wrap;
}

#rating_box {
    flex: 3;
    margin-right: 40px;
    margin-left: 30px;
    padding-top: 30px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-right: 30px;
}



h3 {
    
}

#star_rating_aggregated {
    
}

#your_rating {
    
}

#star_rating_vote {
   border: 1px solid gray;
}

#user_rating {
    flex:1;
    margin-right: 30px;
    margin-left: 30px;
    padding-bottom: 20px;
 padding-left: 20px;
    padding-right: 30px;
    padding-top: 20px;
}
#place_rating {
    
}
