body {
    font-family: Helvetica, Arial, sans-serif;
    background: linear-gradient(#C9F0D9, white);
}

/* _______________________________ header start _________________________________ */

/* _______________________________ header end _________________________________ */

/* _______________________________ main start _________________________________ */

#main_container {
      padding: 30px;
     margin-top: 30px;
     margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
#content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#name {}
h2 {
    font-size: 40px;
}
.box {
    padding: 20px;
    border: 1px solid gray;
    background-color: white;
}
#link_container {
    
}

#form {
   flex: 3; 
}

form {
    display: flex;
    flex-direction: column;
}

#info {
    display: flex;
    flex-direction: row;
}

.form_element {
    
}
#date_days{
     display: flex;
    flex-direction: column;
}

label {
    
}

p {
    
}

#schedule_container {
    
}

.schedule {
    
}

h3 {
    
}

.hour_container {
    
}

.hours {
    
}

#buttons_container {
    
}

#list {
   flex: 1;  
}

#places_list {
    
}

.places_list_item {
    
}

#controls_container {
    
}

/* _______________________________ main end _________________________________ */

/* _______________________________ footer start _________________________________ */
footer {
    background-color: cadetblue;
    height: 100px;
}
/* _______________________________ footer end _________________________________ */
