/*body{padding: 15px;
    font-family: serif;
    *//*background-image: url("https://images.hdqwalls.com/download/white-bear-artwork-8k-n4-1920x1080.jpg");*//*
}*/

body {
    font-family: Helvetica, Arial, sans-serif;
    /*    background: linear-gradient(#C9F0D9, white);*/
    background-color: #F0F7FA;
}

* {box-sizing: border-box
}


#site_name{
}

#site_logo{
    padding-bottom: 20px}

#my_profile{
    font-size: 19px;
    color:  #4C3936;
}

/*.favTableHeadPadding{
    padding-right: 30px;
}*/

.box{
    padding: 20px;
    border-radius: 5px;
    border: 3px solid;
    border-color: #B4F0C9;
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    margin-right: 20px;
}

.box p{

}

/*.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tab button:hover {
    background-color: #8bdd84;
}

.tab button.active {
    background-color: #ccc;
}*/

.tabcontent {
    float: left;
    padding: 15px;
    background-color: #F0F7FA;
}

/*.tablinks{

}*/

.place_name{
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
}

.place_added{
    padding-left: 10px;
    font-weight: italic;
    font-size: 15px;
}


.rating_text{
    padding-left: 10px;
}

#ratings_box{
    display: flex;
    flex-wrap: wrap;
}

/*
.form{
    margin-top:10px;
    margin-bottom: 10px;
}
*/

/*label{
    display:inline-block;
    width:150px;
    margin-right:70px;
    text-align:left;
}

.showpassButton{
    display:inline-block;
    margin-right:70px;
    text-align: left;
}*/

button {
    height: 30px;
    width: 80px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    border: none;
}

.submit {
    background-color: #6CBA87;
}

.submit:hover {
    background-color: #34BA63;
}

.cancelbtn:hover {
    background-color: #DEEFFA;
}


.container {
    padding: 16px 40px 30px 40px;
    background-color: #1F6E3A;
    color: #F0F7FA;
}

a:link, a:visited {
    text-decoration: none;
    color: #1F6E3A;
}
a:hover, a:active {
    text-decoration: none;
    color: #103B1F;
}

/*.passwordBox{
    display:inline-block;
    margin-right: 30px;
}*/

.padding-right-100px{
    padding-right: 100px;
}

.padding-right-80px{
    padding-right: 80px;
}

.padding-right-30px{
    padding-right: 30px;
}
.padding-right-15px{
    padding-right: 15px;
}