<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/dropdownmenu.js}">
    </script>
</head>

<body>
<!-- header start -->
<div th:insert="fragments :: header"></div>


    <!-- main content start -->

    <div class=container id=main_container>
        <div>
            <h2>Add place</h2>
        </div>
        <div class=container id=form_container>
            <!--<form id=addplace > -->
            <form action="#" th:action="@{/addplace}" method="post" th:object="${place}" enctype="multipart/form-data">
                <div class=form_element>
                    <label>Category</label>
                </div>
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).FOODDRINK}" th:onclick="choice(this)">Food and drink
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).ATTRACTIONS}" th:onclick="choice(this)">Tourist attractions
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).LODGING}" th:onclick="choice(this)">Lodging
                    <br>

                <div>
                      <select id='dropdown' th:field="*{subcategory}" th:value="${subcategory}">
                      </select>
                 </div>

                <div class=form_element>
                    <input type= "hidden" name="created" id="created"
                           th:value="${#dates.format(#dates.createNow() , 'dd/MM/yyyy HH:mm')}" />
                </div>
                <div class=form_element>
                    <label>Name</label>
                    <input type="text" maxlength="50" th:field="*{name}" id="name" placeholder="Name" required>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class=form_element>
                    <label>County</label>
                    <input type="text" maxlength="50" th:field="*{county}" id="county" placeholder="County" required>
                    <span th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></span>
                </div>
                <div class=form_element>
                    <label>City</label>
                    <input type="text" maxlength="250" th:field="*{city}" id="city" placeholder="City" required>
                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <div class=form_element>
                    <label>Address</label>
                    <input type="text" maxlength="250" th:field="*{address}" id="address" placeholder="Address" required>
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
                <div class=form_element>
                    <label>GPS coordinates</label>
                    <input type="text" maxlength="250" th:field="*{coordinates}" id="coordinates"
                           placeholder="GPS coordinates">
                    <span th:if="${#fields.hasErrors('coordinates')}" th:errors="*{coordinates}"></span>
                </div>
                <div class=form_element>
                    <label>Working hours</label>
                    <input type="text" maxlength="250" th:field="*{workingHours}" id="workingHours"
                           placeholder="Working hours">
                    <span th:if="${#fields.hasErrors('workingHours')}" th:errors="*{workingHours}"></span>
                </div>
                <div class=form_element>
                    <label>Email</label>
                    <input type="text" maxlength="250" th:field="*{email}" id="email" placeholder="Email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class=form_element>
                    <label>Telephone</label>
                    <input type="text" maxlength="250" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Telephone">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>

                <div class=form_element>
                    <label>Description</label>
                    <textarea rows="5" cols="50" maxlength="250" minlength="60" th:field="*{description}" id="description"
                              placeholder="Description" required></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                
                
                
                
<!--
                <div class=form_element>
                    <label>Upload main/thumbnail image</label>
                    <input type="file" name="thumbnail" id="thumbnail" accept="image/png, image/jpeg">
                </div>
                    <div id="thumbnail_preview"><img id=thumbnail alt="Main image preview"></div>
                <div class=form_element>
                    
-->
                    
                    
                    
                    
<!--                    comment out from here-->
<!--
                    <label>Upload gallery picture 1</label>
                    <input type="file" name="galleryImg" id="galleryImage1" accept="image/png, image/jpeg">
                </div>
                 <div id="gallery_pic_1_preview"><img id=galleryImage1 alt="Gallery picture 1"></div>

                <div class=form_element>
                    <label>Upload gallery picture 2</label>
                    <input type="file" name="galleryImg" id="galleryImage2" accept="image/png, image/jpeg">
                </div>
                 <div id="gallery_pic_2_preview"><img id=galleryImage2 alt="Gallery picture 2"></div>

                <div class=form_element>
                    <label>Upload gallery picture 3</label>
                    <input type="file" name="galleryImg" id="galleryImage3" accept="image/png, image/jpeg">
                </div>
                 <div id="gallery_pic_3_preview"><img id=galleryImage3 alt="Gallery picture 3"></div>

                <div class=form_element>
                    <label>Upload gallery picture 4</label>
                    <input type="file" name="galleryImg" id="galleryImage4" accept="image/png, image/jpeg">
                </div>
                 <div id="gallery_pic_4_preview"><img id=galleryImage4 alt="Gallery picture 4"></div>

                <div class=form_element>
                    <label>Upload gallery picture 5</label>
                    <input type="file" name="galleryImg" id="galleryImage5" accept="image/png, image/jpeg">
                </div>
                 <div id="gallery_pic_5_preview"><img id=galleryImage5 alt="Gallery picture 5"></div>
-->
<!--to here -->
                
                
                
                
                
                
                
                <div id=buttons>
                    <button type="submit">Submit</button>
                    <button type="cancel">Cancel</button>
                </div>
            </form>
        </div>

    </div>

    <!-- main content end -->


    <!-- footer start -->
   <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body>

</html>
