<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
<!--    <script type="text/javascript" th:src="@{resources/static/js/dropdownmenu.js}">-->
<!--    </script>-->
</head>

<body>
<!-- header start -->
<div th:insert="fragments :: header"></div>


    <!-- main content start -->

    <div class=container id=main_container>
        <div>
            <h2>Add place</h2>
        </div>
        <div class=container id=form_container>
            <!--<form id=addplace > -->
            <form action="#" th:action="@{/addplace}" method="post" th:object="${place}">
                <div class=form_element>
                    <label>Category</label>
<!--                    <div th:each="categoryOpt : ${T(sci.travel_app.walkthebear.model.misc.Category).values()}">-->
<!--                        <div class="radio-button">-->
<!--                            <input type="radio"  th:field="*{category}" th:value="${categoryOpt}" onclick="choice(this)" class="custom-control-input">-->
<!--                            <label class="custom-control-label" th:for="${#ids.prev('category')}" th:text="${categoryOpt.displayValue}"  >Category</label>-->
<!--                        </div>-->
                </div>
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).FOODDRINK}" th:onclick="choice(this)">Food and drink
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).ATTRACTIONS}" th:onclick="choice(this)">Tourist attractions
                    <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).LODGING}" th:onclick="choice(this)">Lodging
                    <br>
                <div>

<!--                </div>-->
<!--                <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).FOODDRINK}"-->
<!--                       th:onclick='change(["Bar", "Restaurant", "Cafe", "Fast Food", "Pastry & Desserts" ])'>Food and drink-->
<!--                <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).ATTRACTIONS}"-->
<!--                       th:onclick='change(["Park", "Museum", "Zoo", "Historical Landmarks & Architecture", "Natural Landmarks"])'>Tourist attractions-->
<!--                <input type="radio" name="first" th:field="*{category}" th:value="${T(sci.travel_app.walkthebear.model.misc.Category).LODGING}"-->
<!--                       th:onclick='change(["Hotel", "Motel", "Hostel", "Guesthouse", "Camping", "Cabin"])'>Lodging-->
<!--                <br>-->
                <div>
                      <select id='second' th:field="*{subcategory}">
                      </select>
<!--                    <select id="drop-down" th:field="*{subcategory}"></select>-->
                 </div>

<!--               <div class=form_element>-->
<!--                    <label>Sub-Category</label>-->
<!--                    <select id=subcategory name=subcategory>-->
<!--                        <option th:each="categoryOpt : ${T(sci.travel_app.walkthebear.model.misc.SubCategory).values()}"-->
<!--                                th:value="${categoryOpt}" th:text="${categoryOpt.displayValue}"></option>-->
<!--                    </select>-->
<!--                </div>-->
                <div class=form_element>
                    <input type= "hidden" name="created" id="created"
                           th:value="${#dates.format(#dates.createNow() , 'dd/MM/yyyy HH:mm')}" />
                </div>
                <div class=form_element>
                    <label>Name</label>
                    <input type="text" maxlength="50" th:field="*{name}" id="name" placeholder="Name">
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>
                <div class=form_element>
                    <label>County</label>
                    <input type="text" maxlength="50" th:field="*{county}" id="county" placeholder="County">
                    <span th:if="${#fields.hasErrors('county')}" th:errors="*{county}"></span>
                </div>
                <div class=form_element>
                    <label>City</label>
                    <input type="text" maxlength="250" th:field="*{city}" id="city" placeholder="City">
                    <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
                </div>
                <div class=form_element>
                    <label>Address</label>
                    <input type="text" maxlength="250" th:field="*{address}" id="address" placeholder="Address">
                    <span th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
                </div>
                <div class=form_element>
                    <label>GPS coordinates</label>
                    <input type="text" maxlength="250" th:field="*{coordinates}" id="coordinates"
                           placeholder="GPS coordinates">
                    <span th:if="${#fields.hasErrors('coordinates')}" th:errors="*{coordinates}"></span>
                </div>
                <div class=form_element>
                    <label>Working hours</label>
                    <input type="text" maxlength="250" th:field="*{workingHours}" id="workingHours"
                           placeholder="Working hours">
                    <span th:if="${#fields.hasErrors('workingHours')}" th:errors="*{workingHours}"></span>
                </div>
                <div class=form_element>
                    <label>Email</label>
                    <input type="text" maxlength="250" th:field="*{email}" id="email" placeholder="Email">
                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                </div>
                <div class=form_element>
                    <label>Telephone</label>
                    <input type="text" maxlength="250" th:field="*{phoneNumber}" id="phoneNumber" placeholder="Telephone">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
                </div>

                <div class=form_element>
                    <label>Description</label>
                    <textarea rows="5" cols="50" maxlength="250" th:field="*{description}" id="description"
                              placeholder="Description"></textarea>
                    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                </div>
                <div class=form_element>
                    <label>Upload main picture</label>
                    <input type="file">
                </div>
                <div class=form_element>
                    <label>Upload gallery picture</label>
                    <input type="file">
                </div>
                <div id=buttons>
                    <button type="submit">Submit</button>
                    <button type="cancel">Cancel</button>
                </div>
            </form>
        </div>

    </div>

    <!-- main content end -->

<script type="text/javascript" th:inline="javascript">

function choice(t){
	var a = ["BAR", "RESTAURANT", "CAFE", "FAST FOOD", "PASTRY DESSERTS"];
	var b = ["PARK", "MUSEUM", "ZOO", "HISTORICAL LANDMARKS", "NATURAL LANDMARKS"];
	var c = ["HOTEL", "MOTEL", "HOSTEL", "GUEST HOUSE", "CAMPING", "CABIN"];
<!--    var a= [${T(sci.travel_app.walkthebear.model.misc.SubCategory).BAR.displayValue},-->
<!--    ${T(sci.travel_app.walkthebear.model.misc.SubCategory).RESTAURANT.displayValue}];-->
<!--    var b= [${T(sci.travel_app.walkthebear.model.misc.SubCategory).PARK},-->
<!--    ${T(sci.travel_app.walkthebear.model.misc.SubCategory).MUSEUM}];-->
<!--    var c= [${T(sci.travel_app.walkthebear.model.misc.SubCategory).HOTEL},-->
<!--    ${T(sci.travel_app.walkthebear.model.misc.SubCategory).MOTEL}];-->
	 s = document.getElementById('second');
	var sl = s.options.length;
	for(var i = sl-1; i >= 0 ; i--) { s.options[i] = null; }
	if(t.value != 0){
		var z;
		switch (t.value) {
<!--			 case /*[[${T(sci.travel_app.walkthebear.model.misc.Category).FOODDRINK}]]*/ : z = a; break-->
<!--			 case /*[[${T(sci.travel_app.walkthebear.model.misc.Category).ATTRACTIONS}]]*/ : z = b; break;-->
<!--			 case /*[[${T(sci.travel_app.walkthebear.model.misc.Category).LODGING}]]*/  : z = c; break;-->
<!--			default : alert('Invalid entry'); break;-->
            case "FOODDRINK": z = a; break
			case "ATTRACTIONS" : z = b; break;
			case "LODGING" : z = c; break;
			default : alert('Invalid entry'); break;
		}

		var l = z.length;
		for(i = 0; i < l; i++ ) { s.options[i] = new Option(z[i],z[i],false,false); }
	}
}

</script>

<!--<script type="text/javascript">-->

<!--function change(arr) {-->
<!--var el = document.getElementById('drop-down');-->
<!--el.options.length = 0;-->
<!--for(var i = 0; i< arr.length; i++ ) {-->
<!--el.options[el.options.length] = new Option( arr[i], arr[i]);-->
<!--}-->
<!--}-->
<!--</script>-->

    <!-- footer start -->
   <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body>

</html>
