<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>
        Admin
    </title>
    <link type="text/css" href="../static/css/addplace.css" th:href="@{/css/addplace.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <style>



    </style>

</head>


<body>
<!-- header start -->
<div th:insert="fragments :: header"></div>
<!-- header end -->


<!-- main content start -->

<div class=container id=main_container>
    <div>
        <h2>Search for places</h2>
    </div>
    <div class="top_nav">
        <form action="#" th:action="@{/adminplace}" method="get">
            <input type="text" name="keyword" id="search"/>
            <input type="submit" value="Search"/>
            <div>
                <div>
                    <h2>Places List</h2>
                    <table class="table table-striped">
                        <tr class="table_place" >
                            <th>Place ID</th>
                            <th>Name</th>
                            <th>County</th>
                            <th>City</th>
                            <th>Address</th>
                            <th>Coordinates</th>
                            <th>Phone Number</th>
                            <th>Email</th>
                            <th>Category</th>
                            <th>Subcategory</th>
                            <th>Work hours</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Created By</th>

                        </tr>
                        <tr class="table_place" th:each="place : ${places}">
                            <td th:text="${place.id}">id</td>
                            <td th:text="${place.name}">name</td>
                            <td th:text="${place.county}">county</td>
                            <td th:text="${place.city}">city</td>
                            <td th:text="${place.address}">address</td>
                            <td th:text="${place.coordinates}">coordinates</td>
                            <td th:text="${place.phoneNumber}">phoneNumber</td>
                            <td th:text="${place.email}">email</td>
                            <td th:text="${place.category}">category</td>
                            <td th:text="${place.subcategory}">subcategory</td>
                            <td th:text="${place.workingHours}">workingHours</td>
                            <td th:text="${place.description}">description</td>
                            <td th:text="${place.created}">created</td>
                            <td  th:text="${place.user. getUserName()}">user</td>
                            <td><a th:href="@{/editratings/{id}(id=${place.id})}">Ratings</a></td>
                            <td><a th:href="@{/editplaceadmin/{id}(id=${place.id})}">Edit</a></td>
                            <td><a th:href="@{/addphotos/{id}(id=${place.id})}">Photos</a></td>
                            <td><a th:href="@{/deleteplaceadmin/{id}(id=${place.id})}"
                                   onclick="return confirm('Are you sure you want to delete place?')">Delete</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
