<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        Admin
    </title>
    <link type="text/css" href="../static/css/addplace.css" th:href="@{/css/addplace.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
</head>

<body>
<!-- header start -->
<!-- <div th:insert="fragments :: header"></div> -->
<!-- header end -->


<!-- main content start -->

<div class=container id=main_container>
    <div>
    <h2>All Places</h2>
    </div>
    <div th:switch="${places}">
        <h2 th:case="null">No places added yet!</h2>
        <div th:case="*">
        <div>
        <div id=button_text>
            <a href="addplaceadmin.html" th:href="@{http://localhost:8080/addplaceadmin}">
                <p>Add Place</p>
            </a>
        </div>
         <div th:if="${not #lists.isEmpty(placeSearch)}">
              <h2>Places List</h2>
              <table class="table table-striped">
                  <tr>
                      <th>Place ID</th>
                      <th>Name</th>
                      <th>County</th>
                      <th>City</th>
                      <th>Address</th>
                      <th>Coordinates</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Category</th>
                      <th>Subcategory</th>
                      <th>Work hours</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Created By</th>

                  </tr>
                  <tr th:each="place : ${places}">
                      <td th:text="${place.id}">id</td>
                      <td th:text="${place.name}">name</td>
                      <td th:text="${place.county}">county</td>
                      <td th:text="${place.city}">city</td>
                      <td th:text="${place.address}">address</td>
                      <td th:text="${place.coordinates}">coordinates</td>
                      <td th:text="${place.phoneNumber}">phoneNumber</td>
                      <td th:text="${place.email}">email</td>
                      <td th:text="${place.category}">category</td>
                      <td th:text="${place.subcategory}">subcategory</td>
                      <td th:text="${place.workingHours}">workingHours</td>
                      <td th:text="${place.description}">description</td>
                      <td th:text="${place.created}">created</td>
                      <td th:text="${place.user}">user</td>
                      <td><a th:href="@{/editplaceadmin/{id}(id=${place.id})}">Edit</a></td>
                      <td><a th:href="@{/deleteplaceadmin/{id}(id=${place.id})}">Delete</a></td>
                  </tr>
              </table>
          </div>
      </form>
  </div>
 </body>
  </html>
