<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="../static/css/editprofile.css" th:href="@{/css/editprofile.css}">
  <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
  <title>Edit profile</title>

</head>
<body>

<!--don't forget to remove!-->

<div class="form" >
<form th:object="${appUser}" th:action="@{/editprofile/{id}/send(id=${appUser.id})}" method="post">
  <div class="container" id=inputs>
  <h1>EDIT PROFILE</h1>

  <div class="field">
    <label class="label" th:for="username"><b>Username</b></label>
    <div class="control">
      <input class="input" type="text" placeholder="Name" th:field="*{userName}">
    </div>
  </div>

  <div class="field">
    <label class="label" th:for="email"><b>Email</b></label>
    <div class="control">
      <input class="input" type="text" placeholder="Email" th:field="*{email}">
    </div>
  </div>

  <div class="field">
    <label class="label" th:for="password"><b>New password</b></label>
    <div class="control">
      <input class="input" type="password" placeholder="Enter the password or add a new one" th:field="*{password}" required>
    </div>
  </div>

  <div class="field">
    <label class="label" th:for="passwordConfirm"><b>Confirm new password</b></label>
    <div class="control">
      <input class="input" type="password" placeholder="Confirm new password" th:field="*{passwordConfirm}" required>
    </div>
  </div>

    <div class="container" id=buttons>
      <button type="submit" class="submit">Submit</button>
      <button type="button" class="cancelbtn"><a th:href="@{/profileinfo}">Cancel</a></button>
      <!--            <span class="psw">Forgot <a href="#">password?</a></span>-->
    </div>

  </div>
</form>
</div>

</body>
</html>
