<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title></title>
    <style>
      body {padding: 20px;}
      h1 {font-size:34px; color: #3374dc ;}
    </style>
  </head>
  <body>
<h1>EDIT PROFILE</h1>

<div class="field">
  <label class="label">Username</label>
  <div class="control">
    <input class="input" type="text" placeholder="Username">
  </div>
</div>

<div class="field">
  <label class="label">Old password</label>
  <div class="control">
    <input class="input" type="password" placeholder="Old password">
  </div>
</div>

<div class="field">
  <label class="label">New password</label>
  <div class="control">
    <input class="input" type="password" placeholder="New password">
  </div>
</div>

<div class="field">
  <label class="label">Confirm new password</label>
  <div class="control">
    <input class="input" type="password" placeholder="Confirm new password">
  </div>
</div>


<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">Apply</button>
  </div>
  <div class="control">
    <button class="button is-link is-light" onclick="window.location.href = '/profileinfo'">Cancel</button>
  </div>
</div>
  </body>
</html>
