<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:form="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"> -->
    <title>Edit user</title>
    <style>
<!--    body {padding: 20px;}-->
<!--    h2 {font-size:34px; color: #3374dc ;}-->


@font-face {
  font-family: 'password';
  font-style: normal;
  font-weight: 400;
  src: url(https://jsbin-user-assets.s3.amazonaws.com/rafaelcastrocouto/password.ttf);
}

input.key {
  font-family: 'password';
  width: 100px; height: 16px;
}

    </style>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
</head>
<body>
<div align="center">
    <h2>Edit User Information</h2>
    <form action="#"
          th:action="@{/edituseradmin/{id}(id=${user.id})}"
          th:object="${user}"
          method="post">
        <div>
            <label for="name">Name</label>
            <input type="text" th:field="*{userName}" id="name" placeholder="Name" required>
            <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
        </div>
        <div>
            <label for="password">Password</label>
            <input class="key" type="text" autocomplete="off" th:field="*{password}" id="password" placeholder="Password" required>
            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        </div>

        <div>
            <label for="email">Email</label>
            <input type="text" th:field="*{email}" id="email" placeholder="Email" required>
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        </div>
        <div>
            <label>Role</label>
            <div th:each="role : ${T(sci.travel_app.walkthebear.model.misc.AppUserRole).values()}">
                <input type="radio" th:field="*{role}" th:value="${role}">
                <label th:for="${#ids.prev('role')}" th:text="${role.displayRole}">Role</label>
            </div>
        </div>
        <div>
            <input type="hidden" name="created" id="created"
                   th:value="${#dates.format(#dates.createNow() , 'dd/MM/yyyy HH:mm')}"/>
        </div>
        <div id=buttons>
            <button type="submit">Submit</button>
            <button type="cancel"><a th:href="@{/adminuser}">Cancel</a></button>
        </div>
    </form>
</div>
</body>
</html>

