<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="utf-8"/>
    <title>
        <!-- Insert your title here -->
    </title> 
    <link type="text/css" href="../static/css/day.css" th:href="@{/css/day.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">

    </head>
<body> 
    <!-- header start -->
    <!-- header end -->
    
    
    <!-- main content start -->
    
    <div id=box>
        <div id=form_container>
<!--         <form action="#" th:action="@{/editday}" method="post" th:object="${dailyschedule}">-->
            <form action="#" th:action="@{/save}" method="post" th:object="${hoursDTO}">
            <label>Name</label>
                <p th:text="${day.name}">
<!--             <input type="text" maxlength="50" th:field="*{name}" id="name" placeholder="Name">-->
             
            <table>
                
                 <tr th:each="hour, itemStat : ${allHours.hourObj}" >
                    <td><p>Time:</p> <input type="text" th:name="$|hourObj[${itemStat.index}].time|" th:value="${hour.getTime()}"/>
                    </td>
                    <td>
                    <label>Place</label>
                    <select class="form-control" th:name="$|hourObj[${itemStat.index}].place|" th:value="${hour.getPlace()}"  id="dropOperator">
    <option value="0">select a place from the list</option>
    <option th:each="uplace : ${unplannedPlaces}" th:value="${uplace.id}" th:text="${uplace.name}"></option>
    </select>
<!--
                <tr th:each="hour, itemStat : ${allHours.hourObj}" >
                    <td><p>Time:</p> <input type="text" th:field="${hourObj[__${itemStat.index}__].time}">
                    </td>
                    <td>
                    <label>Place</label>
                    <select class="form-control" th:field="*{hourObj[__${itemStat.index}__].title}"  id="dropOperator">
    <option value="0">select a place from the list</option>
    <option th:each="uplace : ${unplannedPlaces}" th:value="${uplace.id}" th:text="${uplace.name}"></option>
    </select>
-->
                        
<!--
                        <tr th:each="book, itemStat : ${form.books}">
							<td><input hidden th:name="|books[${itemStat.index}].id|" th:value="${book.getId()}"/></td>
							<td><input th:placeholder="Title + ' ' + ${itemStat.count}" th:name="|books[${itemStat.index}].title|" th:value="${book.getTitle()}"
									   required/></td>
							<td><input th:placeholder="Author + ' ' + ${itemStat.count}" th:name="|books[${itemStat.index}].author|"
									   th:value="${book.getAuthor()}" required/></td>
                        
-->
                        </td>
                    </tr>
            </table>
            
             <div id=buttons_container> 
                        <button type="submit">Submit</button>
                        <button type="reset">Reset</button></div>
        </form>
        </div>
        <div id=list_container>
            <table>
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>
        
    </div>
    
    <!-- main content end -->


    <!-- footer start -->
    <!-- footer end -->
    </body>
</html>