<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">


</head>

<body>
    <!-- big header start -->
    <div id=header_L th:fragment="home_header">
        <div class="top_nav">
            <div th:insert="fragments :: search_bar"></div>
<!--
            <div class="top_nav_links">
                <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>
-->
             <div th:insert="fragments :: top_nav_links"></div>
        </div>
        <div id= logo_and_title_container>
        <div id=logo><a href=index.html th:href="@{/}"><img src="../static/images/hikingbear.png" th:src="@{/images/hikingbear.png}"> </a></div>
        <div id="main_title">
            <h1>Walk the bear</h1>
        </div>
        </div>
        <div id=img_and_title_container>

            <div class="hero_image_container_l">
                <!--
                <img id="hero1" src="../static/images/hero1.jpg" th:src="@{/images/hero1.jpg}"> 
                <img id="hero2" src="../static/images/hero2.jpg" th:src="@{/images/hero2.jpg}">
                <img id="hero3" src="../static/images/hero3.jpg" th:src="@{/images/hero3.jpg}">
                <img id="hero4" src="../static/images/hero4.jpg" th:src="@{/images/hero4.jpg}">
-->
                <div class="slider">
                    <figure>
                        <div class="slide">
<!--                            <p>Slide 1</p>-->
                            <img src="../static/images/slide1.jpg" th:src="@{/images/slide1.jpg}"> >
                        </div>
                        <div class="slide">
<!--                            <p>Slide 2</p>-->
                            <img src="../static/images/slide2.jpg" th:src="@{/images/slide2.jpg}">
                        </div>
                        <div class="slide">
<!--                            <p>Slide 3</p>-->
                            <img src="../static/images/slide3.jpg" th:src="@{/images/slide3.jpg}">
                        </div>
                        <div class="slide">
<!--                            <p>Slide 4</p>-->
                            <img src="../static/images/slide4.jpg" th:src="@{/images/slide4.jpg}">
                        </div>
                        <div class="slide">
<!--                            <p>Slide 5</p>-->
                            <img src="../static/images/slide5.jpg" th:src="@{/images/slide5.jpg}">
                        </div>
                    </figure>
                </div>




            </div>
        </div>
        <div th:insert="fragments :: main_nav">
        </div>
    </div>
    <!-- big header end -->

    <!--regular header start -->
    <div id="header_M" th:fragment="header">
        <div class="top_nav">
            <div class="searchbar" th:fragment=search_bar>
                <form id="searchform" th:action="@{/results}">
                       <input type="text" id="header_searchbar" name=keyword placeholder="type here to search" required>
                    <button type="submit">Search</button>
                </form>
            </div>
<!--
            <div class="top_nav_links">
                 <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>
-->
            <div th:insert="fragments :: top_nav_links"></div>
        </div>
         <div id= logo_and_title_container>
        <div id=logo><a href=index.html th:href="@{/}"><img src="../static/images/hikingbear.png" th:src="@{/images/hikingbear.png}"> </a></div>
        <div id="main_title">
            <h1>Walk the bear</h1>
        </div>
    </div>
        <div id=img_and_title_container>

            <div class="hero_image_container_m"> <img id="hero" src="../static/images/hero_small.jpg" th:src="@{/images/hero_small.jpg}"> </div>
        </div>
        <div th:insert="fragments :: main_nav">
        </div>
    </div>
    <!-- regular header end -->

    <!--small header start -->

    <!-- small header end -->



    <!-- top nav start -->
    <!-- if user is not logged in -->
    <div class="top_nav_links" th:fragment="top_nav_links">
        <div sec:authorize="isAnonymous()">
        <a href="login.html" th:href="@{/login}">Login</a>
        <a href="register.html" th:href="@{/register}">Register</a>
    </div>
    <!-- if user is traveller -->
     <div sec:authorize="hasAuthority('Traveler')">
        <a href="profileinfo.html" th:href="@{/profileinfo}">My Profile</a>
        <a href="tripmanager.html" th:href="@{/tripmanager}">Manage trips</a>
        <form id=logoutForm name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
    <input type="submit" value="Logout" />
</form>
<a href="javascript: logoutForm.submit();">Sign Out</a>
    </div>
    <!-- if user is host -->
     <div sec:authorize="hasAuthority('Host')">
        <a href="profileinfo.html" th:href="@{/profileinfo}">My Profile</a>
        <a href="placemanager.html" th:href="@{/placemanager}">Manage places</a>
        <form id=logoutForm name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
    <input type="submit" value="Logout" />
</form>
<a href="javascript: logoutForm.submit();">Sign Out</a>
    </div>
    <!-- if user is admin -->
    <div sec:authorize="hasAuthority('Admin')">
        <a href="profileinfo.html" th:href="@{/adminplace}">Admin panel - places</a>
         <a href="profileinfo.html" th:href="@{/adminuser}">Admin panel - users</a>
       <form name="logoutForm" th:hidden="true" method="post" th:action="@{/doLogout}">
    <input type="submit" value="Logout" />
</form>
<a href="javascript: logoutForm.submit();">Sign Out</a>
    </div>
        </div>
    <!-- top nav end -->

    <!-- main nav start -->
    <div class=main_navigation th:fragment="main_nav">
        <div class=main_nav_links id=nav_link1><a href="searchresults.html" th:href="@{/categories/tourist-attractions}">Tourist attractions</a> </div>
        <div class=main_nav_links id=nav_link2><a href="searchresults.html" th:href="@{/categories/lodging}">Lodging</a> </div>
        <div class=main_nav_links id=nav_link3><a href="searchresults.html" th:href="@{/categories/food-and-drink}">Food and drink</a> </div>
    </div>
    <!-- main nav end -->

    <!-- footer start -->


    <div id="footer"  th:fragment="footer">

        <div class="footer-distributed">

            <div class="footer-left">
                <div id=companyLogo>

                    <div class="company_logo"> <img id="walkthebear" src="../static/images/walkthebearlogo3.png" th:src="@{/images/walkthebearlogo3.png}"> </div>
                </div>

                <!-- <h3>Company<span>logo</span></h3>  -->

                <p class="footer-links">
                    <a href="index.html" th:href="@{/index}" class="link-1">Home</a>

                    <a href="login.html" th:href="@{/login}">Log in</a>

                    <a href="register.html" th:href="@{/register}">Registration</a>

                </p>

                <p class="footer-company-name">Walk the Bear © 2020</p>
            </div>

            <div class="footer-center">
<div class=" many_divs">
                <div  >
                    <img  src="../static/images/location24.png" th:src="@{/images/location24.png}">
                    <p > Cluj-Napoca, Romania  </p>
                </div>
<p></p>
                <div >
                    <img  src="../static/images/phone24.png" th:src="@{/images/phone24.png}"   >
                    <p > +40745889963  </p>
                </div>

<p></p>

                <div >
                    <img  src="../static/images/mail24.png" th:src="@{/images/mail24.png}">
                   <p ><a href="mailto:support@walkthebear.com">support@walkthebear.com</a></p>
                </div>

            </div>
            </div>
            <div class="footer-right">

                <p class="footer-company-about">
                    <span>About the company</span>
                    We help you create transformative experiences that offer life changing moments and help fulfill that deep seated urge for connection and learning.

                    Where will your wanderlust take you?
                </p>



            </div>

        </div>
    </div>
    <!-- footer end -->

    <!-- footer end -->


    <!-- alert start -->
    <div id=alert th:fragment="alert" th:if="${message}" th:text="${message}" />
 <!-- alert end -->


</body></html>