<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
<!--
<script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous">
    </script>
-->

</head>

<body>
    <!-- header start -->
    <div th:insert="fragments :: home_header"></div>
    <!-- header end -->

    <!-- main content start -->
    <main>
        <div class="main_container">

        </div>


        <div th:insert="fragments :: alert"></div>

        <div sec:authorize="isAuthenticated()">
            This content is only shown to authenticated users.
            <span sec:authentication="principal.authorities">role</span>
        </div>
        <div sec:authorize="hasAuthority('Admin')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasRole('Host')">
            This content is only shown to users.
        </div>


        

        <div class="instructions">
            <h2>Welcome</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
        </div>

        <div class="column_layout">
            <div class="column">
                <h2>Most popular</h2>
                <div class="column_list" th:each="placeone : ${widget1}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placeone.id})}">
                                        <div>
                                           <img id=thumbnail_img src="../static/images/placeholder.jpg"
                                               th:src="@{${placeone.thumbnailImagePath}}">
                                            <p th:text="${placeone.name}"></p>
                                            <p th:text="${placeone.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="">Download</a>
            </div>
            <div class="column">
                <h2>Latest places</h2>
                <div class="column_list" th:each="placetwo : ${widget2}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placetwo.id})}">
                                        <div>
                                            <img id=thumbnail_img src="../static/images/placeholder.jpg"
                                   th:src="@{${placetwo.thumbnailImagePath}}">
                                            <p th:text="${placetwo.name}"></p>
                                            <p th:text="${placetwo.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="">Download</a>
            </div>
            <div class="column">
                <h2>Editor's choice</h2>
                <div class="column_list" th:each="placethree : ${widget3}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placethree.id})}">
                                        <div>
                                            <img id=thumbnail_img src="../static/images/placeholder.jpg" th:src="@{${placethree.ThumbnailImagePath}}">
                                            <p th:text="${placethree.name}"></p>
                                            <p th:text="${placethree.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
  

    </main>
    <!-- main content end -->


    <!-- footer start -->
    <div th:insert="fragments :: footer"></div>
    <!-- footer end -->

</body>

</html>
