<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">


    <script></script>

</head>

<body>
    <!-- header start -->
    <header>
        <div class="top_nav">
            <div class="searchbar"><input type="text" id="header_searchbar" placeholder="Search"></div>
            <div class="top_nav_links">
                 <a th:href="@{/login}">Login</a>
                <a th:href="@{/register}">Register</a>
            </div>
        </div>
        <div id="main_title">
            <h1>Page title</h1>
        </div>
        <div id=img_and_title_container>

            <div class="hero_image_container"> <img id="hero1" src="../static/images/placeholder.jpg" th:src="@{/images/placeholder.jpg}"> <img id="hero2" src="../static/images/placeholder.jpg" th:src="@{/images/placeholder.jpg}"><img id="hero3" src="../static/images/placeholder.jpg" th:src="@{/images/placeholder.jpg}"><img id="hero4" src="../static/images/placeholder.jpg" th:src="@{/images/placeholder.jpg}"></div>
        </div>
        <div class=main_navigation>
            <div class=main_nav_links id=nav_link1><a href="">Category 1</a> </div>
            <div class=main_nav_links id=nav_link2><a href="">Category 2</a> </div>
            <div class=main_nav_links id=nav_link3><a href="">Category 3</a> </div>
        </div>
    </header>
    <!-- header end -->

    <!-- main content start -->
    <main>
        <div class="main_container">
            <div class="instructions">
                <h2>Instructions</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </div>
            <div class="column_layout">
                <div class="column">
                    <h2>Column 1</h2>
                    <div class="column_list">
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Phasellus viverra nulla ut metus varius laoreet. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                        </div>
                    </div>
                    <a href="">Download</a>
                </div>
                <div class="column">
                    <h2>Column 2</h2>
                    <div class="column_list">
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Phasellus viverra nulla ut metus varius laoreet. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                        </div>
                    </div>
                    <a href="">Download</a>
                </div>
                <div class="column">
                    <h2>Column 3</h2>
                    <div class="column_list">
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Nullam dictum felis eu pede mollis pretium. Integer tincidunt.
                                Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.</p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p>Phasellus viverra nulla ut metus varius laoreet. </p>
                        </div>
                        <div class="list_item"><img class="list_thumbnail" src="../static/images/placeholder.jpg">
                            <p> Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi.</p>
                        </div>
                    </div>
                    <a href="">Download</a>
                </div>
            </div>
        </div>
    </main>
    <!-- main content end -->


    <!-- footer start -->
    <footer>
        <div class="footer_nav_links"> </div>
    </footer>
    <!-- footer end -->

</body>

</html>
