<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title>
        Walk the Bear
    </title>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">


</head>

<body>
    <!-- header start -->
    <div th:insert="fragments :: home_header"></div>
    <!-- header end -->

    <!-- main content start -->
    <main>
        <div class="main_container">

        </div>


        <div th:insert="fragments :: alert"></div>


        <div class="instructions">
            <h2>Welcome</h2>
            <p>We help you create transformative experiences that offer life changing moments and help fulfill that deep seated urge for connection and learning. Where will your wanderlust take you?</p>
        </div>

        <div class="column_layout">
            <div class="column">
                <h2>Most popular</h2>
                <div class="column_list" th:each="placeone : ${widget1}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placeone.id})}">
                                        <div>
                                           <img id=thumbnail_img src="../static/images/placeholder.jpg"
                                               th:src="@{${placeone.thumbnailImagePath}}">
                                            <p th:text="${placeone.name}"></p>
                                            <p th:text="${placeone.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="" th:href="@{/home/mostpopulardownload}">Download list</a>
            </div>
            <div class="column">
                <h2>Latest places</h2>
                <div class="column_list" th:each="placetwo : ${widget2}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placetwo.id})}">
                                        <div>
                                            <img id=thumbnail_img src="../static/images/placeholder.jpg"
                                   th:src="@{${placetwo.thumbnailImagePath}}">
                                            <p th:text="${placetwo.name}"></p>
                                            <p th:text="${placetwo.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <a href="" th:href="@{/home/latestdownload}">Download list</a>
            </div>
            <div class="column">
                <h2>Editor's choice</h2>
                <div class="column_list" th:each="placethree : ${widget3}">
                    <table>
                        <tr>
                            <td>
                                <div class="list_item"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${placethree.id})}">
                                        <div>
                                            <img id=thumbnail_img src="../static/images/placeholder.jpg" th:src="@{${placethree.ThumbnailImagePath}}">
                                            <p th:text="${placethree.name}"></p>
                                            <p th:text="${placethree.description}"></p>
                                        </div>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
  

    </main>
    <!-- main content end -->


    <!-- footer start -->
    <div th:insert="fragments :: footer"></div>
    <!-- footer end -->

</body>

</html>
