<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link type="text/css" href="../static/css/site.css" th:href="@{/css/site.css}" rel="stylesheet">
</head>
<body>
<div class="form" >
     <div th:insert="fragments :: alert"></div>
    <a href="register.html" th:href="@{/register}">Go to registration page >></a>

    <form id="loginForm"  th:action="@{/doLogin}" method="post">

        <div class="container" id=inputs>
            <h1>Log in</h1>
            <div class=inputs>
            <label th:for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            </div>
<div class=inputs>
            <label th:for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            </div>
            <div class=inputs>


            </div>
        </div>

        <div class="container" id=buttons>
            <button type="submit" class="submit">Sign In</button>
            <button type="button" class="cancelbtn"><a th:href="@{/home}">Cancel</a></button>
<!--            <span class="psw">Forgot <a href="#">password?</a></span>-->
        </div>
    </form>
<p th:if="${loginError}" class="error">Wrong user or password</p>
</div>
</body>
</html>