<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>
        Place manager
    </title>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <script></script>
</head>

<body>
<!-- header start -->
<div th:insert="fragments :: header"></div>
<!-- header end -->


<!-- main content start -->
<!-- main content start -->
<h4 th:if="${message}" th:text="${message}"/>
<div class=container id=main_container>
    <div id=name>
        <h2>Place Manager</h2>
    </div>
    <div class=row>
        <div class=element>
            <div id=add_button>
                <a href="addplace.html" th:href="@{http://localhost:8080/addplace}">
                    <img src="../static/images/button.png" th:src="@{/images/button.png}"
                         alt="add button" height="100px" width="100px">
                </a>
                <p>Add place</p>

            </div>
        </div>
        <div class=element th:each="place : ${userPlaces}">
            <div class=card>
                <h3 th:text="${place.name}">name</h3>
                <div id=thumbnail>
                    <!--                                <img id=thumbnail_img src="../static/images/placeholder.jpg" th:src="@{${place.ThumbnailImagePath}}">-->
                </div>
                <p th:text="${place.description}"> Description </p>
                <p th:text="${place.workingHours}"> Working hours</p>
            </div>
            <div class=links><a th:href="@{/placedetail/{id}(id=${place.id})}">View</a><a
                    th:href="@{/editplace/{id}(id=${place.id})}">Edit</a>
                <a th:href="@{/deleteplace/{id}(id=${place.id})}"
                   onclick="return confirm('Are you sure you want to remove place?')">Remove</a>
                <a th:href="@{/addphotos/{id}(id=${place.id})}">Photos</a>
            </div>
        </div>

    </div>
</div>


<!-- footer start -->
<div th:insert="fragments :: footer"></div>
<!-- footer end -->
</body>

</html>
