<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <title>
       Place detail
    </title>
    <link rel="stylesheet" th:rel="stylesheet" href="../static/css/placedetail.css" th:href="@{/css/placedetail.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" th:rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css} " />
    <link rel="stylesheet" th:rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css} " />
    <link rel="stylesheet" th:rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/css/star-rating.css} " />

</head>

<body th:object="${place}">

    <!-- header start -->

    <div th:insert="fragments :: header"></div>

    <!-- header end -->

    <!-- main content start -->
    <div class=containerz id=main_box_top>

        <div class=containerz id=info_and_pictures>
            <div class=containerz id=basic_info>
                <div id=name>
                    <h2 th:text="${place.name}">Place name</h2>
                </div>
                <div id=thumbnail>
                    <!--
                <img id=thumbnail_img src="../static/images/placeholder.jpg"
                                   th:src="@{/images/placeholder.jpg}">
-->
                    <img id=thumbnail_img src="../static/images/placeholder.jpg" th:src="@{${place.ThumbnailImagePath}}">
                </div>
                <div id=address>
                    <h3 th:text="${place.address}">Address: jdlfkjsdlkfdshfhsdfhsifsdf</h3>
                    <h4><span th:text="${place.city}">oras</span> <span th:text="${place.county}">judet</span> <span th:text="${place.coordinates}">coordonate</span></h4>
                </div>
            </div>
            <div id=gallery>
                <div class=gallery_bear><a th:href="@{${place.GalleryImage1Path}}"><img src="../static/images/placeholder.jpg" th:src="@{${place.GalleryImage1Path}}"></a></div>
                <div class=gallery_bear><a th:href="@{${place.GalleryImage2Path}}"><img src="../static/images/placeholder.jpg" th:src="@{${place.GalleryImage2Path}}"></a></div>
                    <div class=gallery_bear><a th:href="@{${place.GalleryImage3Path}}"><img src="../static/images/placeholder.jpg" th:src="@{${place.GalleryImage3Path}}"></a></div>
                    <div class=gallery_bear><a th:href="@{${place.GalleryImage4Path}}"><img src="../static/images/placeholder.jpg" th:src="@{${place.GalleryImage4Path}}"></a></div>
                <div class=gallery_bear><a th:href="@{${place.GalleryImage5Path}}"><img src="../static/images/placeholder.jpg" th:src="@{${place.GalleryImage5Path}}"></a></div>
            </div>
        </div>
        <div id=extra_info>
            <div class=containerz id=main_content_column>
                <div class=box id=description>
                    <h3>Description</h3>
                    <p th:text="${place.description}">Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean
                        leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra
                        quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean
                        imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam
                        rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing
                        sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio
                        et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit
                        amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales
                        sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
                </div>

            </div>
            <div class=containerz id=additional_content_column>
                <div class=box id=contact>
                    <h3>Contact</h3>
                    <p th:text="${place.phoneNumber}">Number</p>
                    <p th:text="${place.email}">email</p>
                    <p th:text="${place.workingHours}">working hours</p>
                </div>
                <div class=box id=call_to_action>
                    <div id=tripisadded th:if="${isAddedToList}" sec:authorize="hasAuthority('Traveler')"> <a th:href="@{/placedetail/{id}/removefromlist(id=${place.id})}">Remove from trip</a></div>
                    <div id=tripisnotadded th:unless="${isAddedToList}" sec:authorize="hasAuthority('Traveler')"> <a th:href="@{/placedetail/{id}/addtolist(id=${place.id})}">Add to trip</a></div>


                    <div id=favisadded th:if="${isAddedToFav}"><a th:href="@{/placedetail/{id}/removefromfavorites(id=${place.id})}">Remove from Favorites</a></div>
                    <div id=favisnotadded th:unless="${isAddedToFav}"><a th:href="@{/placedetail/{id}/addtofavorites(id=${place.id})}">Add to Favorites</a></div>

                </div>
            </div>
        </div>
    </div>
    <div class=containerz id=rating_container>
        <div class=box id=rating_box sec:authorize="hasAuthority('Traveler')">
            <style scoped>
                @import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css";
            </style>
            <h3>Add a review</h3>
            <div id=place_rating>
                <div id=star_rating_aggregated>
                    <!--<p>****star placeholder</p>-->
                    <input type="number" class="rating" th:value="${placeAverageRating}" readonly="true" data-show-clear="false" data-size="sm">
                    <p>Rating</p>
                </div>
            </div>
            <div id=your_rating>
                <p>Your rating</p>
                <div id=star_rating_vote>
                    <div th:if="${isAddedToRating}"><p> You rated this place</p></div>
                    <a th:href="@{/profileratings}">Checkout you ratings</a>

                    <div th:unless="${isAddedToRating}">
                        <form method="post" th:action="@{/placedetail/{pid}/sendReview(pid=${place.id})}" th:object="${rating}">
                            <input type="hidden" class="rating" data-min="0" data-max="5" data-step="1" th:field="*{starRating}">
                            <textarea rows="5" cols="50" maxlength="250" th:field="*{comment}"></textarea>
                            <div id=buttons>
                                <button id=submit class="btn btn-primary" type="submit">Submit form</button>
                                <button id=reset type="reset">Cancel</button>
                                </div>
                            <div th:insert="fragments :: alert"></div>
                            </form>
                    </div>
                </div>
            </div>

        </div>
        <div class=box id=user_rating>
            <h3>User reviews</h3>
            <div class=rating_list>
                <table>
                    <tr th:each="rating : ${ratingList}">
                        <td> <input type="number" class="rating" th:value="${rating.starRating}" readonly="true" data-show-clear="false" data-show-caption="false" data-size="xs">
                        </td>
                        <td th:text="${rating.comment}"></td>
                        <td th:text="${rating.user.getUserName()}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- main content end -->


    <!-- footer start -->

    <div th:insert="fragments :: footer"></div>

    <!-- footer end -->

    <script th:src="@{http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.6/js/star-rating.min.js}"></script>

</body></html>
