<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>
        <!-- Insert your title here -->
    </title>
    </head>
<body>
     <!-- header start -->
    
    <!-- header end -->
    
    
    <!-- main content start -->
 <div class=container id=main_container>
        <div id=name>
            <h2>Trip planner</h2>
        </div>
    <div id=link_container> </div>
    <div class=container id=form>
        <div id=info></div>
        <div id=date_days></div>
        <div id=schedule_container>
        <div class=schedule></div>
        </div>
     </div>
     <div id=buttons_container></div>
     
     
     <div class=list>
         <div id=places_list></div>
              <div id=controls_container></div>

     </div>
    </div>

    <!-- main content end -->


    <!-- footer start -->
    
    <!-- footer end -->
    </body>
</html>