<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/planner.css" th:href="@{/css/planner.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <script>


    </script>
</head>

<body>
    <!-- header start -->
    <div th:insert="fragments :: header"></div>
    <!-- header end -->


    <!-- main content start -->
    <div class=container id=main_container>
        <div id=name>
            <h2>Trip planner</h2>
        </div>
        <div id=link_container> <a href="tripmanager.html" th:href="@{/tripmanager}">Back to trip manager</a> </div>
        <div class=container id=content>
            <div class=box id=form>

                <div id=info>
                    <div class=form_element>
                        <label th:for="name">Name</label>
                        <p th:text="${itinerary.name}">trip name</p>
                        <div class=form_element>
                            <label th:for="description">Description</label>
                            <p th:text="${itinerary.description}">trip description</p>
                        </div>
                        <div class=form_element>
                            <label th:for="datecreated">Created date</label>
                            <p th:text="${itinerary.created}">trip description</p>
                        </div>
                        <div class=form_element>
                            <label th:for="datestart">Start date</label>
                            <p th:text="${itinerary.startDate}">trip description</p>
                        </div>

                    </div>


                    <div id=schedule_container>
                        <div class=schedule>
                            <div class=day_container th:each="day : ${allDaysForItinerary}">
                                <h3 th:text="${day.name}">Day 1</h3>
                                <div class=hour_container>
                                    <table>
                                        <tr th:each="hour : ${allHours}">
                                            <td>
                                                <p th:text="${hour.time}">07:00</p>
                                            </td>
                                            <td>
                                                <p th:text="${hour.place}">add place here</p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id=buttons_container>
                        <button type="">Print</button>
                        <button type="">Download itinerary</button></div>


                </div>




            </div>
        </div>
    </div>

    <!-- main content end -->


    <!-- footer start -->
    <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body>

</html>
