<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/planner.css" th:href="@{/css/planner.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $("#startdate").datepicker();
        });

    </script>
</head>

<body>
    <!-- header start -->
    <div th:insert="fragments :: header"></div>
    <!-- header end -->


    <!-- main content start -->
    <div class=container id=main_container>
        <div id=name>
            <h2>Trip planner</h2>
        </div>
        <div id=link_container> <a href="tripmanager.html" th:href="@{/tripmanager}">Back to trip manager</a> </div>
        <div class=container id=content>
            <div class=box id=form>
                <form action="" th:object="${itinerary}" th:action="@{/planner/save}" method="post">
                    <div id=info>
                        <div class=form_element>
                            <label th:for="name">Name</label>
                            <input type="text" th:field="*{name}" maxlength="50" required></div>
                        <div class=form_element>
                            <label th:for="description">Description</label>
                            <input type="text" th:field="*{description}" maxlength="250" rows="5" cols="50">

                            <!--                            <textarea rows="5" cols="50" maxlength="250"></textarea>-->
                        </div>
                    </div>

                    <div id=date_days>
                        <div class=form_element>
                            <label for="startdate">Start date:</label>
                            <input type="text" th:field="*{startDate}" id="startdate"></div>
                    </div>

                    <div id=buttons_container>
                        <button type="submit">Submit</button>
                        <button type="reset">Reset</button></div>
                </form>
                <div id=days>
                    <div id=add_button>
                        <a th:href="@{/planner/{id}/addnewday(id=${itinerary.id})}"><img src="../static/images/button_plus.png" th:src="@{/images/button_plus.png}" alt="add button" height="60px" width="60px" href=""></a>



                    </div>
                    <p>Days</p>
                    <div class=day_container th:each="day : ${allDaysForItinerary}">
                        <p th:text="${day?.name}"></p>
                        <div id=links>
                            <a th:href="@{/planner/{id}/day/{dayID}(id=${itinerary.id},dayID=${day.id})}">Edit day</a>
                            <div id=remove_button> <a th:href="@{/planner/{id}/day/{dayID}/delete(id=${itinerary.id},dayID=${day.id})}"><img src="../static/images/button_minus.png" th:src="@{/images/button_minus.png}" alt="remove button" height="60px" width="60x" href=""></a></div>
                        </div>
                    </div>


                </div>
                <div id=schedule_container>
                    <div class=schedule>

                    </div>
                </div>


            </div>




            <div class=box id=list>
                <div id=places_list></div>
                <span class="places_list_item" draggable="true" ondragstart='onDragStart(event);'>
                    placeholder
                </span>
                <div class="places_list_item"></div>
                <div class="places_list_item"></div>
                <div id=controls_container>
                    <div id=x_button> <img src="../static/images/xbutton.png" th:src="@{/images/xbutton.png}" alt="remove from list button" height="40px" width="40px" href=""></div>
                </div>

            </div>
        </div>
    </div>

    <!-- main content end -->


    <!-- footer start -->
    <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body>

</html>
