<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
       Planner view
    </title>
    <link type="text/css" href="../static/css/planner.css" th:href="@{/css/planner.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <script>


    </script>
</head>

<body>
    <!-- header start -->
    <div th:insert="fragments :: header"></div>
    <!-- header end -->


    <!-- main content start -->
    <div class=container id=main_container>
        <div id=name>
            <h2>Trip planner</h2>
        </div>
        <div id=link_container> <a href="tripmanager.html" th:href="@{/tripmanager}">Back to trip manager</a> 
        <a href="" th:href="@{/planner/{id}(id=${itinerary.itineraryId})}">Edit itinerary</a>
        </div>
        <div class=container id=content>
            <div class=box id=form>

                <div id=info>
                    <div class=form_element>
                        <div class=label>
                            <p>Name</p>
                        </div>
                        <div class=info>
                            <p th:text="${itinerary.name}">trip name</p>
                        </div>
                    </div>
                    <div class=form_element>
                        <div class=label>
                            <p>Description</p>
                        </div>
                        <div class=info>
                            <p th:text="${itinerary.description}">trip description</p>
                        </div>
                    </div>
                    <div class=form_element>
                        <div class=label>
                            <p>Created date</p>
                        </div>
                        <div class=info>
                            <p th:text="${itinerary.created}">trip description</p>
                        </div>
                    </div>
                    <div class=form_element>
                        <div class=label>
                            <p>Start date</p>
                        </div>
                        <div class=info>
                            <p th:text="${itinerary.startDate}">trip description</p>
                        </div>
                    </div>

                </div>

            
                <div id=schedule_container>
                    <div class=schedule>
                        <div class=day_container th:each="element : ${timetable}">
                            <h3 th:text="${element.key}">Day 1</h3>
                            <div class=hour_container>
                                <table>
                                    <tr th:each="objective : ${element.value}">
                <td th:text="${objective.time}">Some time</td>
                <td th:text="${objective.place}">Some place</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
  
                    </div>
                </div>
                <div id=buttons_container>
                    <a th:href="@{/planner/view/{id}/print(id=${itinerary.itineraryId})}">Print</a>
                    <a th:href="@{/planner/view/{id}/json(id=${itinerary.itineraryId})}">Download itinerary</a></div>


            </div>




        </div>
    </div>

    <!-- main content end -->


    <!-- footer start -->
    <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body></html>
