<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Profile Favorites</title>
    <link rel="stylesheet" href="../static/css/profilefavorites.css" th:href="@{/css/profilefavorites.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css}">
</head>

<body>
<script type="text/javascript" th:src="@{/JS/profilefavorites.js}"></script>
<div id="top_page">
    <h1 style="font-size: 50px">WalkTheBear</h1>
</div>

<div id="my_profile">
    <h1 style="margin-bottom: 10px">MY PROFILE</h1>
</div>


<div class="tabs is-toggle is-toggle-rounded">
    <ul>
        <li>
            <a>
                <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
                <span onclick="window.location.href = '/profileinfo?id=1'">Profile info 🔏</span>
            </a>
        </li>
        <li  class="is-active">
            <a>
                <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
                <span onclick="window.location.href = '/profilefavorites?id=1'">My favorites ⭐</span>
            </a>
        </li>
        <li>
            <a>
                <span class="icon is-medium"><i class="fas fa-image" aria-hidden="true"></i></span>
                <span>My ratings 📝</span>
            </a>
        </li>
    </ul>
</div>
<div class="tabcontent">
    <table>
        <tr>
            <th class="padding-right-15px">Name</th>
            <th class="padding-right-80px">City</th>
            <th class="padding-right-100px">Address</th>
            <th class="padding-right-15px">Phone</th>
        </tr>

        <tr th:each="profilefavorite : ${favorites}">
            <td th:text="${profilefavorite.getPlace().getName()}"></td>
            <td th:text="${profilefavorite.getPlace().getCity()}"></td>
            <td th:text="${profilefavorite.getPlace().getAddress()}"></td>
            <td th:text="${profilefavorite.getPlace().getPhoneNumber()}"></td>
        </tr>
    </table>
</div>
</body>
</html>