<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Profile info</title>

    <link rel="stylesheet" href="../static/css/profileinfo.css" th:href="@{/css/profileinfo.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">

</head>

<body th:object="${currentUser}">
<!-- header start -->

<div th:insert="fragments :: header"></div>
<!-- header end -->


<!-- main content start -->

<div class=boxes id=main_container>

    <div class=boxes id=link_container>
        <div id=button>
            <button type="submit" class="submit"><a th:href="@{/editprofile/{id}(id=${currentUser.id})}">Edit profile</a></button>
            <button type="submit" class="submit" sec:authorize="hasAuthority('Traveler')"> <a th:href="@{/profilefav}">Profile favorites</a></button>
            <button type="submit" class="submit" sec:authorize="hasAuthority('Traveler')"><a th:href="@{/profileratings}">Profile ratings</a></button>
        </div>
    </div>


  <!--  <div class=boxes id=additional_content_column>
        <div id=name>-->
            <div class="form">
                <div class="container" id=inputs>
                <h2> My profile</h2>
                    <label class="profileinfo"> Username</label>
            <p th:text="${currentUser.userName}">Username</p>
            <label class="profileinfo">E-mail</label>
            <p th:text="${currentUser.email}">email</p>
            <label class="profileinfo">Role</label>
            <p th:text="${currentUser.role}">Role</p>
            <p th:text="${currentUser.created}">Date created</p>
                    </fieldset>
                </form>
            </div>
            </div>

<!-- main content end -->
</div>

<!-- footer start -->
<div th:insert="fragments :: footer"></div>
<!-- footer end -->


</body></html>
