<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Profile info</title>

    <link rel="stylesheet" href="../static/css/profileinfo.css" th:href="@{/css/profileinfo.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
          th:href="@{https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">

</head>

<body th:object="${currentUser}">
<!-- header start -->

<div th:insert="fragments :: header"></div>
<!-- header end -->


<!-- main content start -->

<div class=container id=main_container>

    <div class=container id=filter_container>
        <div id=filters>
            <a th:href="@{/editprofile/{id}(id=${currentUser.id})}">Edit profile</a><br>
            <a th:href="@{/profilefav}">Profile favorites</a><br>
            <a th:href="@{/profileratings}">Profile ratings</a>
        </div>
    </div>


    <div class=containerz id=additional_content_column>
        <div id=name>
            <p th:text="${currentUser.userName}">Username</p>
            <p th:text="${currentUser.email}">email</p>
            <p th:text="${currentUser.role}">Role</p>
            <p th:text="${currentUser.created}">Date created</p>
            </div>
    </div>


<!-- main content end -->
</div>

<!-- footer start -->
<div th:insert="fragments :: footer"></div>
<!-- footer end -->


</body></html>
