<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <title>Profile Ratings</title>
    <link rel="stylesheet" href="../static/css/profilefavorites.css" th:href="@{/css/profilefavorites.css}">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">

</head>
<body>

<script type="text/javascript" th:src="@{/JS/profileinfo.js}"></script>


<!-- Tab contents -->

<div th:insert="fragments :: header"></div>

<div class="tabcontent" id="ratings">
    <h2>FAVORITE 📝</h2>


    <div class=box id=user_rating>
        <h3> <p sec:authentication="name"></p> Favorites</h3>
        <div class=rating_list>
        </div>
    </div>

        <div id="ratings_box">
            <div class="box" th:each="favorite : ${allFavorite}">
                <p class="place_name" th:text="${favorite.place.getName()}"> Place name<br></p>
                <p class="rating_text" th:text="${favorite.place.getDescription()}"></p><br>
                <p>  Added on: </p><p class="place_added" th:text="${favorite.dateAdded}"></p><br>
                <div id=button>
                    <button type="submit" class="submit"><a th:href="@{/profilefav/{id}/delete(id=${favorite.place.getId()})}">Remove</a></button>
                    <button type="button" class="cancelbtn"><a href="placedetail.html" th:href="@{/placedetail/{id}(id=${favorite.place.getId()})}">Go to place</a>
                    </button>
                </div>

             </div>
        </div>

    <div th:insert="fragments :: alert"></div>

    <div class="container" id=buttons>
        <button type="submit" class="submit"><a th:href="@{/profileinfo}">Back</a></button>
        <button type="button" class="cancelbtn"><a th:href="@{/home}">Go to home</a></button>

    </div>

</div>

<div th:insert="fragments :: footer"></div>
</body>

</html>