<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
     <meta charset="utf-8"/>
    <title>
        <!-- Insert your title here -->
    </title> 
    <link type="text/css" href="../static/css/results.css" th:href="@{/css/results.css}" rel="stylesheet">

    </head>
<body> 
    <!-- header start -->
    
    <!-- header end -->
    
    
    <!-- main content start -->
    
    <!-- main content end -->


    <!-- footer start -->
    
    <!-- footer end -->
    </body>
</html>