<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/fragments.css" th:href="@{/css/fragments.css}">
    <script></script>
</head>

<body>
    <!-- header start -->
<div th:insert="fragments :: header"></div>
    <!-- header end -->


    <!-- main content start -->
    <div class=container id=main_container>
        <div id=name>
            <h2>Trips</h2>
        </div>
        <div class=row>
            <div class=element>
                <div id=add_button> <a href=planner.html th:href="@{/planner/new}"><img src="../static/images/button.png" th:src="@{/images/button.png}" alt="add button" height="100px" width="100px" href="/planner" th:href="@{/planner}"></a>
                </div>
                <div id=button_text>
                    <p>Add trip</p>
                </div>
            </div>
            <div id="list" th:each="trip : ${allTrips}">
            <div class=element>
                <div class=card>
                    <h3 th:text="${trip.name}">Trip number 1</h3>
                    <p th:text="${trip.description}">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis,</p>
                </div>
                <div class=links><a href="" th:href="@{/planner/view/{id}(id=${trip.id})}">View</a><a href="" th:href="@{/planner/{id}(id=${trip.id})}">Edit</a><a href="" th:href="@{/tripmanager/delete/{id}(id=${trip.id})}">Remove</a>
                </div>
            </div>

<!--
                <div class="pagination-div">
    <span th:if="${page.hasPrevious()}">
        <a th:href="@{/employees(page=${page.number-1},size=${page.size})}">Previous</a>
    </span>
    <th:block th:each="i: ${#numbers.sequence(0, page.totalPages - 1)}">
        <span th:if="${page.number == i}" class="selected">[[${i}+1]]</span>
        <span th:unless="${page.number == i}">
             <a th:href="@{/employees(page=${i},size=${page.size})}">[[${i}+1]]</a>
        </span>
    </th:block>
    <span th:if="${page.hasNext()}">
        <a th:href="@{/employees(page=${page.number+1},size=${page.size})}">Next</a>
    </span>
</div>
-->
            </div>
        </div> 

    </div>
    <!-- main content end -->


    <!-- footer start -->
 <div th:insert="fragments :: footer"></div>
    <!-- footer end -->
</body>

</html>
