<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>
        <!-- Insert your title here -->
    </title>
    <link type="text/css" href="../static/css/manager.css" th:href="@{/css/manager.css}" rel="stylesheet">
    <script></script>
</head>

<body>
    <!-- header start -->

    <!-- header end -->


    <!-- main content start -->
    <div class=container id=main_container>
        <div id=name>
            <h2>Trips</h2>
        </div>
        <div class=row>
            <div class=element>
                <div id=add_button> <img src="../static/images/button.png" th:src="@{/images/button.png}" alt="add button" height="100px" width="100px" href="/planner" th:href="@{/planner}">
                </div>
                <div id=button_text>
                    <p>Add trip</p>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1</h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1</h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1 </h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
        </div>
        <div class=row>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1</h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1</h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1 </h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
            <div class=element>
                <div class=card>
                    <h3>Trip number 1 </h3>
                    <p>Description text</p>
                </div>
                <div class=links><a href="">View/Edit</a><a href="">Remove</a>
                </div>
            </div>
        </div>
    </div>
    <!-- main content end -->


    <!-- footer start -->

    <!-- footer end -->
</body>

</html>
